:root {
  --building-color: #ff9800;
  --house-color: #0288d1;
  --shop-color: #7b1fa2;
  --warehouse-color: #558b2f;
}
.property {
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

.property::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #ffffff;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: -1;
}

.property .iconDefault {
  position: absolute;
  top: 0px;
  z-index: 0;
  transition: none;
}

.property .icon {
  align-items: center;
  display: none;
  justify-content: center;
  color: #ffffff;
}

.property .icon svg {
  height: 20px;
  width: auto;
}

.property .details {
  display: none;
  flex-direction: column;
  flex: 1;
  color: #222222;
  font-size: 16px;
  max-width: 300px;
}

.property .address {
  color: #454444;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.property .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.property .features > div {
  align-items: center;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}

/*
 * Property styles in highlighted state.
 */
.property.highlight {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 8px 15px;
  width: auto;
  top: 15px;
}

.property.highlight::after {
  border-top: 9px solid #ffffff;
  z-index: 1;
}

.property.highlight .iconDefault {
  top: 91px;
  z-index: -1;
  transition: none;
}

.property.highlight .icon {
  display: flex;
}

.property.highlight .details {
  display: flex;
}

.property.highlight .icon svg {
  width: 50px;
  height: 50px;
}

.property .bed {
  color: #ffa000;
}

.property .bath {
  color: #03a9f4;
}

.property .size {
  color: #388e3c;
}

/*
 * House icon colors.
 */
.property.highlight:has(.fa-house) .icon {
  color: var(--house-color);
}

.property:not(.highlight):has(.fa-house) {
  background-color: var(--house-color);
}

.property:not(.highlight):has(.fa-house)::after {
  border-top: 9px solid var(--house-color);
}

/*
 * Building icon colors.
 */
.property.highlight:has(.fa-building) .icon {
  color: var(--building-color);
}

.property:not(.highlight):has(.fa-building) {
  background-color: var(--building-color);
}

.property:not(.highlight):has(.fa-building)::after {
  border-top: 9px solid var(--building-color);
}

/*
 * Warehouse icon colors.
 */
.property.highlight:has(.fa-warehouse) .icon {
  color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse) {
  background-color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse)::after {
  border-top: 9px solid var(--warehouse-color);
}

/*
 * Shop icon colors.
 */
.property.highlight:has(.fa-shop) .icon {
  color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop) {
  background-color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop)::after {
  border-top: 9px solid var(--shop-color);
}

#back-to-top > svg {
  height: 1.5em;
  vertical-align: -1.525em;
}

.w-fc {
  width: fit-content !important;
}

.spring-image {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1, 1);
  }
  30% {
    transform: translateY(-150px) scale(1.1, 0.9); /* Salto hacia arriba */
  }
  50% {
    transform: translateY(0) scale(1.2, 0.8); /* Al caer, se aplasta */
  }
  70% {
    transform: translateY(-75px) scale(0.9, 1.1); /* Rebote más pequeño */
  }
  100% {
    transform: translateY(0) scale(1, 1); /* Retorna a la posición original */
  }
}
